
body{
    background-color: rgb(255, 255, 255);
    font-family: 'Fjalla One', sans-serif;
    background-image: url(https://media.giphy.com/media/rWY9ySfjytitq/giphy.gif);
    color: rgb(255, 255, 255);
    z-index: 100;
}
footer{
    margin-top: 100%;
    background-color: rgb(232, 231, 250);
    color: #2D3142;
    width: 100%;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.tab {
    color: rgb(255, 255, 255);
    overflow: hidden;
    border: 1px solid #ccc;
    /* background-color: #f1f1f1; */
}

/* Style the buttons inside the tab */
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
}
/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
}
/* Create an active/current tablink class */
.tab button.active {
    background-color: #ccc;
}
/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}
h2{
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
}
.tabcontent img{
    float: left;
    width: 150px;
    height: 150px; 
    border: 10px;
}